<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Django People</title>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h1 class="mt-2">Register User</h1>
        <hr class="mt-0 mb-4">
        {% load crispy_forms_tags %}

        {% block content %}
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-success">Save person</button>
        </form>
        {% endblock %}
      </div>
    </div>
  </div>
</body>

</html>

